
body{
	margin: 0px;
	padding: 0px;
	background: black;
	font-family: 'helvetica neue';
}

#search{
	padding: 50px;
	right: 0px;
	position: absolute;
	z-index: 1;
}

.close-button-icon{
	cursor: pointer;
	background: 
		url( ../img/close-button-icon.svg )
		no-repeat;

	float: right;

	background-size: contain;
	width: 38px;
	height: 38px;

}

#info-overlay h1{
	padding-top: 0px;
	margin-top: 0px;
}

/*.close-button-icon:hover{
	opacity:1.0;
}*/

#info-overlay{
	display: none;
	width: 300px;
	color: white;
	position: absolute;
	z-index: 3;
}

#search-field{

	background: url(../img/search-icon.png) no-repeat scroll 99% 5px;

	
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 10pt;
	-webkit-font-smoothing: subpixel-antialiased;
	color: white;
	border: none;
	border-bottom: 2px white inset;
	padding: 5px;
	width: 250px;
	outline: none;
	padding-left: 0px;
}

#search-field::-webkit-input-placeholder{
	color: white;
}

#gui{
	position: absolute;
	z-index: 2;
}